.vendorSection {
  padding: 60px;
  background-image: repeating-linear-gradient(
      -74deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 1px,
      transparent 0,
      transparent 4px
    ),
    repeating-linear-gradient(
      -74deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 1px,
      transparent 0,
      transparent 4px
    );
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-position: 0 0, 0 100%;
  background-size: 100% 12px, 100% 12px;
  animation: none;
}
