.yellowUnderline {
  background-image: repeating-linear-gradient(
      -45deg,
      #ffb400,
      #ffb400 1px,
      transparent 0,
      transparent 12px
    ),
    repeating-linear-gradient(
      45deg,
      #ffb400,
      #ffb400 1px,
      transparent 0,
      transparent 12px
    );
  background-position: -1px 91%, -2px 91%;
  background-size: 17px 8.8px;
  background-repeat: repeat-x;
  animation: 1s infinite normal b;
  animation-timing-function: linear;
}
.borderDotted {
  background-image: linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(180deg, #000 50%, transparent 0),
    linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  animation: 0.4s infinite normal a;
  animation-timing-function: linear;
  animation-play-state: paused;
}
.borderDotted:hover {
  animation-play-state: running;
}

@media screen and (max-width: 768px) {
  .borderScore {
    background-image: linear-gradient(90deg, #000 50%, transparent 0),
      linear-gradient(90deg, #000 50%, transparent 0);
    background-position: 0 0, 0 100%, left 14px, 0 calc(100% - 14px);
    background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
    background-size: 24px 1px, 24px 1px, 24px 1px, 24px 1px;
  }
}

@media screen and (min-width: 769px) {
  .borderScoreLarge {
    background-image: linear-gradient(90deg, #000 50%, transparent 0),
      linear-gradient(90deg, #000 50%, transparent 0),
      linear-gradient(90deg, #000 50%, transparent 0),
      linear-gradient(90deg, #000 50%, transparent 0);
    background-position: 0 0, 0 100%, left 14px, 0 calc(100% - 14px);
    background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
    background-size: 24px 1px, 24px 1px, 24px 1px, 24px 1px;
    animation: 02s infinite normal c;
    animation-timing-function: linear;
  }
}
.asianSigns {
  -webkit-text-stroke: 0.8px black;
}

@keyframes a {
  0% {
    background-position: 0 0, 0 100%, 0 0, 100% 0;
  }
  100% {
    background-position: 30px 0, -30px 100%, 0 -30px, 100% 30px;
  }
}

@keyframes b {
  0% {
    background-position-x: -1, -2px;
  }

  100% {
    background-position-x: 16px, 15px;
  }
}

@keyframes c {
  0% {
    background-position-x: 0, 0;
  }
  100% {
    background-position-x: 24px, -24px;
  }
}
